{% extends "base.html.twig" %}
{% block content%}

<div class="page-header">
    <div class="center">
        <h2>{{event.getName}} by {{user.getName}}</h2>
        <h4>{{event.getFormattedDateTime}}</h4>
        {% if attendees is not empty %}
        <h3>Here's who's coming!</h3>
        {% for attendee in attendees %}
        {% if attendee.getRsvp == '1' %}
        <h4>{{ attendee.getName }}</h4>
        {% endif %}
        {% endfor %}
        {% endif %}


        <h4>Hey, {{attendee.getName()}} RSVP for this event!</h4>
        <form class="" action="/event_page/guest/{{event.getGuestKey()}}/{{attendee.getId()}}/rsvp" method="post">

            <select class="form-control form-small" name="rsvp">
                <option value="1">YES</option>
                <option value="0">NO</option>
            </select>
            <button id="yn-btn" class="btn" type="submit">rsvp</button>
        </form>
        <h3>Event Location</h3>
    </div>
</div>

     <div id="map"></div>

    <script>
       function initMap() {
         var location = {lat: {{lat}}, lng: {{long}}};
         var map = new google.maps.Map(document.getElementById('map'), {
           zoom: 12,
           center: location
         });
         var marker = new google.maps.Marker({
           position: location,
           map: map
         });
       }
     </script>
     <script async defer
     src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
     </script>

    {% endblock %}
