{% extends "base.html.twig" %}
{% block content%}


    <h2>{{event.getName}} by {{user.getName}}</h2>
    <h4>{{event.getFormattedDateTime}}</h4>
    {% if attendees is not empty %}
        <h3>Here's who's coming!</h3>
        {% for attendee in attendees %}
            {% if attendee.getRsvp == '1' %}
            <h4>{{ attendee.getName }}</h4>
            {% endif %}
        {% endfor %}
    {% endif %}


    <h4>Hey, {{attendee.getName()}} RSVP for this event!</h4>
    <form class="" action="/event_page/guest/{{event.getGuestKey()}}/{{attendee.getId()}}/rsvp" method="post">

        <select class="" name="rsvp">
            <option value="1">yes</option>
            <option value="0">no</option>
        </select>
        <button type="submit">rsvp</button>
    </form>

     <div id="map"></div>

    <script>
       function initMap() {
         var location = {lat: {{lat}}, lng: {{long}}};
         var map = new google.maps.Map(document.getElementById('map'), {
           zoom: 15,
           center: location,
           styles: [{"featureType":"landscape","stylers":[{"hue":"#FFE100"},{"saturation":34.48275862068968},{"lightness":-1.490196078431353},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FF009A"},{"saturation":-2.970297029703005},{"lightness":-17.815686274509815},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FFE100"},{"saturation":8.600000000000009},{"lightness":-4.400000000000006},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FFE100"},{"saturation":8.600000000000009},{"lightness":-4.400000000000006},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF19"},{"saturation":-30.526315789473685},{"lightness":-10.509803921568633},{"gamma":1}]}]
         });

         var iconBase = '/../img/';
         var icons = {
            party: {
                icon: iconBase + 'dolphin.png'
            }
         };
         var marker = new google.maps.Marker({
           position: location,
           icon: icons['party'].icon,
           map: map
         });
       }
     </script>
     <script async defer
     src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
     </script>

    {% endblock %}
