{% extends "base.html.twig" %}
{% block content%}

        <h2>{{event.getName}}</h2>
            {% for user in users%}
                {% if event.getUserId is same as(user.getId) %}
                    <h3>Your host is {{user.getName}}.</h3>
                {%endif%}
            {%endfor%}
        <h4>{{event.getDateTime}}</h4>
        <blockquote>
            <form class="" action="/event_page/{{event.getId}}/editdate_time" method="post">
                <input type="hidden" name="_method" value="patch">
                <label for="date_edit">Edit date:</label>
                <input id="date_edit" type="date" name="date" value="">
                <button type="submit" name="button">edit</button>
            </form>
        </blockquote>
        <h4>{{event.getLocation}}</h4>
        <blockquote>
            <form class="" action="/event_page/{{event.getId}}/edit_location" method="post">
                <input type="hidden" name="_method" value="patch">
                <label for="location_edit">Edit street address:</label>
                <input id="location_edit" type="text" name="location" placeholder="Enter your new address...">

                <button type="submit" name="button">edit</button>
            </form>
        </blockquote>
        <h4>{{event.getDescription}}</h4>
        <blockquote>
            <form class="" action="/event_page/{{event.getId}}/edit_description" method="post">
                <input type="hidden" name="_method" value="patch">
                <label for="description_edit">Edit description:</label>
                <input type="textarea" name="description">
                <button type="submit" name="button">edit</button>
            </form>
        </blockquote>

        <!--DO SHIT 4 MAIL HERE, MALES-->
<style>
     #map {
      height: 400px;
      width: 100%;
     }
  </style>
 <div id="map"></div>
<script>
   function initMap() {
     var location = {lat: {{lat}}, lng: {{long}}};
     var map = new google.maps.Map(document.getElementById('map'), {
       zoom: 12,
       center: location
     });
     var marker = new google.maps.Marker({
       position: location,
       map: map
     });
   }
 </script>
 <script async defer
 src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
 </script>

{% endblock %}
