{% extends "base.html.twig" %}
{% block content%}
<div class="center page-header">
    <h2>{{ user.getName }}</h2>
    <a href="/event_creator/{{user.getId}}"><span class="uppercase">Create an event</span></a>
</div>

<h3>Update account information:</h3>
<form class="" action="/user/{{user.getId}}/edit" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Update username:</label>
    <input id="name" class="form-control" type="text" name="name">
    <label for="password">Update password:</label>
    <input id="password" class="form-control" type="text" name="password">
    <label for="email">Update email:</label>
    <input id="email" class="form-control" type="text" name="email">
    <br>
    <button class="btn btn-top" type="submit">update account</button>
</form>
<h4>Delete account</h4>
    <form class="" action="/delete_account/{{user.getId}}" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-top" type="submit" name="button">delete account</button>
    </form>

    <h3>Active Event(s)</h3>
    {% if events is not empty %}
        {% for event in events %}

        <a href="/event_page/{{ event.getId }}"><li><span class="glyphicon glyphicon-cd"></span> {{event.getName}}</li></a>
        {% endfor %}
    {% else %}
    <p>
        <h4>There are no events listed for this user.</h4>
    </p>
    {% endif %}
{% endblock %}
